.place__info {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}

@media screen and (max-width: 1279px) {
  .place__info {
    gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place__info {
    gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place__info {
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
  }
}
