.place__name {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 48px;
}

@media screen and (max-width: 1279px) {
  .place__name {
    gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place__name {
    gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place__name {
    max-width: 288px;
    margin: 0 auto;
    align-items: flex-end;
    gap: 32px;
    padding-bottom: 32px;
  }
}
